html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #000000;
	color: #eee9e9;
}

.wrapper {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	background: #000000;
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 1) 3%,
		rgba(66, 0, 2, 1) 100%
	);
}
.montserrat-regular {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.logo {
	display: block;
	width: 150px;
	height: auto;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 2%;
	background: black;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.nav-links li a {
	position: relative;
	font-size: 1.05rem;
	font-weight: 500;
	text-decoration: none;
	color: #eee9e9;
}
.nav-links li a:hover {
	color: rgb(162, 0, 0);
	transition: 0.9s;
}
.mini-logo {
	width: 24px;
}

img.img-ad {
	display: block;
	width: 75%;
	height: auto;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Regular.woff2') format('woff2'),
		url('../fonts/GothamPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
		url('../fonts/GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

.card {
	background: #000000;
	border: 1px solid #e9e6e6;
	border-radius: 8px;
	width: 250px;
	padding: 1rem;
	text-align: left;
	list-style: none;
}
