html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #000000;
	color: #eee9e9;
}

.wrapper {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	background: #000000;
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 1) 3%,
		rgba(66, 0, 2, 1) 100%
	);
}
.montserrat-regular {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.logo {
	display: block;
	width: 150px;
	height: auto;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 2%;
	background: black;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.nav-links li a {
	position: relative;
	font-size: 1.05rem;
	font-weight: 500;
	text-decoration: none;
	color: #eee9e9;
}
.nav-links li a:hover {
	color: rgb(162, 0, 0);
	transition: 0.9s;
}
.mini-logo {
	width: 24px;
}

.fixed-nav-padding {
	padding-top: 80px;
}

img.img-ad {
	display: block;
	width: 75%;
	height: auto;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Regular.woff2') format('woff2'),
		url('../fonts/GothamPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
		url('../fonts/GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

.fixed-nav-padding {
	padding-top: 80px;
}

.img-ad {
	display: block;
	width: 75%;
	height: auto;
	margin: 1rem auto 0 auto;
}

.product-layout {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 5%;
	gap: 30px;
	box-sizing: border-box;
}

.col-image-gallery {
	flex-basis: 35%;
}

.config {
	flex-basis: 40%;
}

.col-purchase-box {
	flex-basis: 25%;
	position: sticky;
	top: 100px;
	align-self: flex-start;
}
