html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #333;
}

.montserrat-regular {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.logo {
	display: block;
	width: 150px;
	height: auto;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 2%;
	background: black;
	border-bottom: 1px solid #333;
	box-sizing: border-box;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.nav-links li a {
	position: relative;
	font-size: 1.05rem;
	font-weight: 500;
	text-decoration: none;
	color: #eee9e9;
}
.nav-links li a:hover {
	color: aquamarine;
	transition: 0.9s;
}
.mini-logo {
	width: 24px;
}
